In [ ]:
import numpy as np

In [ ]:
data_link ='/content/KAG_Conversion_Data.csv'

Loading the Data

In [ ]:
data = np.genfromtxt(data_link, delimiter=",", skip_header=1,dtype=str)
data1 = np.genfromtxt(data_link, delimiter=",", skip_header=1,dtype=float)

print("\nData: \n\n", data)

Data:

 [['708746' '916' '103916' ... '1.429999948' '2' '1']
 ['708749' '916' '103917' ... '1.820000023' '2' '0']
 ['708771' '916' '103920' ... '0' '1' '0']
 ...
 ['1314412' '1178' '179979' ... '40.28999949' '2' '0']
 ['1314414' '1178' '179981' ... '198.7100005' '8' '2']
 ['1314415' '1178' '179982' ... '165.6099987' '5' '2']]

Features:
1.ad_id: unique ID for each ad

2.xyzcampaignid: an ID associated with each ad campaign of XYZ company

3.fbcampaignid: an ID associated with how Facebook tracks each campaign

4.age: age of the person to whom the ad is shown

5.gender: gender of the person to whom the add is shown

6.interest: a code specifying the category to which the person’s interest belongs (interests are as mentioned in the person’s Facebook public profile)

7.Impressions: the number of times the ad was shown

8.Clicks: number of clicks on for that ad
9.Spent: Amount paid by company xyz to Facebook, to show that ad

10.Total conversion: Total number of people who enquired about the product after seeing the ad

11.Approved conversion: Total number of people who bought the product after seeing the ad

Q1. How many unique ad campaigns (xyzcampaignid) does this data contain ? And for how many times was each campaign run ?

In [ ]:
#extract all the data in the first column  
x= data[:,1]
unique_id= np.unique(x)
unique_id

array(['1178', '916', '936'], dtype='<U11')

In [ ]:
#determining how many unique id and how many times the campaign run
unique_id,count=np.unique(x,return_counts=True)
print("unique id is",unique_id)
print('count is',count)

#numbers of unique id
print("Total Number of Unique id",unique_id.size)

unique id is ['1178' '916' '936']
count is [625  54 464]
Total Number of Unique id 3

In [ ]:
#details explanation on how many times each program was run
print("The id",unique_id[0],"is run",count[0])
print("The id",unique_id[1],"is run",count[1])
print("The id",unique_id[2],"is run",count[2])

The id 1178 is run 625
The id 916 is run 54
The id 936 is run 464

# 2. What are the age groups that were targeted through these ad campaigns?

In [ ]:
age_group= data[:,3]
age_group

array(['30-34', '30-34', '30-34', ..., '45-49', '45-49', '45-49'],
      dtype='<U11')

In [ ]:
unique_age_group=np.unique(age_group)
unique_age_group

array(['30-34', '35-39', '40-44', '45-49'], dtype='<U11')

# What was the average, minimum and maximum amount spent on the ads?

In [ ]:
amount_ads= data1[:,8]
print(amount_ads)

[  1.42999995   1.82000002   0.         ...  40.28999949 198.7100005
 165.6099987 ]

average

In [ ]:
#average amount spent on the ads
average=  amount_ads.mean()
print(average)

51.36065613141295

minimum

In [ ]:
#minimum amount spent on the ads
print(min(amount_ads))

0.0

In [ ]:
#maximum amount spent on the ads
print(max(amount_ads))

639.9499981

# What is the id of the ad having the maximum number of clicks ?

In [ ]:
#extract all the data in the 7th column 
clicks= data1[:,7]
print(clicks)

[  1.   2.   0. ...  28. 135. 114.]

In [ ]:
b=max(clicks)
print('the maximum click is',b)

the maximum click is 421.0

In [ ]:
print(int(data1[:,0][data1[:,7]==b]))

1121814

In [ ]:
y = data1[:,10]
print(y)
#total number of people that bought the product

amount_bought=y.sum()
print('the number of people that bought the product is',amount_bought)

max_number= (max(y))
print('the max purchase in the dataset is',max_number)

[1. 0. 0. ... 0. 2. 2.]
the number of people that bought the product is 1079.0
the max purchase in the dataset is 21.0

In [ ]:
max_clicks=(max(data1[:,7]))
print(max_clicks)

421.0

In [ ]:
#maximum number in this column 
Approved=y.max()
print(Approved)

21.0

In [ ]:
#number of people who bought the product after seeing the ad with max clicks
print(int(data1[:,10][data1[:,7]==421]))

13

# So the ad with the most clicks didn't fetch the maximum number of purchases. Find the details of the product having maximum number of purchases

In [ ]:
data[data[:,10]=="21"]

array([['1121104', '1178', '144533', '30-34', 'M', '16', '2080666',
        '202', '360.1500015', '40', '21']], dtype='<U11')